<div *ngIf="presenter">
  <div class="header-box">
    <figure nxFigure style="height: 100px; width: 100px">
      <img
        [ngSrc]="
          presenter.picture
            ? presenter.picture
            : 'assets/images/avatar-placeholder.png'
        "
        [alt]="'Picture of presenter ' + presenter.name"
        width="100"
        height="100"
      />
    </figure>
    <div style="display: block; line-height: 1">
      <h2>{{ presenter.name }}</h2>
      <h4>{{ presenter.bio }}</h4>
      <div style="display: flex; gap: 15px">
        <a [href]="presenter.socialMedia.twitter"
          ><nx-icon name="twitter" font="fa" size="s"></nx-icon
        ></a>
        <a [href]="presenter.socialMedia.linkedin"
          ><nx-icon name="linkedin-custom" size="s"></nx-icon
        ></a>
      </div>
    </div>
  </div>
  <nx-link *ngFor="let talk of getTalksForPresenter(presenter)" nxStyle="block">
    <p (click)="dialogService.openTalkDialog(talk)">
      <nx-icon name="arrow-right" />
      {{ talk.title }}
    </p>
  </nx-link>
</div>
