<div
  *ngIf="stages().length > 0 && day"
  class="scroll-container tab__content table-outline"
>
  <div nxGrid class="timetable-grid">
    <div nxRow>
      <div nxCol="2"></div>
      <ng-container *ngFor="let stage of stages()">
        <div nxCol="2" class="stage-heading center">{{ stage.name }}</div>
      </ng-container>
    </div>
    <ng-container *ngFor="let time of times">
      <div nxLayout="grid nogutters">
        <div nxRow>
          <div nxCol="2" class="time">{{ time }}</div>
          <ng-container *ngFor="let stage of stages()">
            <div nxCol="2" class="card-container">
              <ng-container *ngIf="getTalkByStageAndTime(stage, day, time)">
                <nx-card
                  [class]="stage.color"
                  class="button talk-card"
                  (click)="
                    openTalkDialog(getTalkByStageAndTime(stage, day, time))
                  "
                  style="flex: 1"
                >
                  <h3>
                    {{ getTalkByStageAndTime(stage, day, time)?.title }}
                  </h3>
                  <p>
                    {{ getTalkByStageAndTime(stage, day, time)?.description }}
                  </p>
                </nx-card>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #talkmodal let-data>
  <div>
    <div class="presenter-container">
      <nx-link *ngFor="let presenter of data.presenters">
        <p (click)="openPresenterDialog(presenter)">{{ presenter.name }}</p>
      </nx-link>
    </div>
    <h3 nxHeadline="subsection-medium">
      {{ data.title }}
    </h3>
    <p nxCopytext>{{ data.description }}</p>
    <nx-badge *ngFor="let tag of data.tags">{{ tag }}</nx-badge>
  </div>
</ng-template>

<ng-template #presentermodal let-data>
  <div>
    <app-presenter-avatar [presenter]="data"></app-presenter-avatar>
  </div>
</ng-template>
