$timetable-margin-right: 0px;
$timetable-margin-top: 30px;

.timetable-grid {
  margin-right: $timetable-margin-right;
  margin-top: $timetable-margin-top;
}

.stage-heading {
  font-weight: bold;
  font-size: large;
  margin-bottom: 20px;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
}
