.timetable-grid {
  margin-right: 30px;
  margin-top: 30px;
}

.stage-heading {
  font-weight: bold;
  font-size: large;
  margin-bottom: 20px;
}

.talk-card {
  display: block;
  margin: 0px;
  transition: box-shadow 0.3s ease;
}

.talk-card:hover {
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.3);
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  cursor: pointer;
}

.red_bg {
  background-color: #f62459;
}

.light_green_bg {
  background-color: #5fcd8a;
}

.dark_green_bg {
  background-color: #00908d;
}

.yellow_bg {
  background-color: #fab600;
}

.orange_bg {
  background-color: #f86200;
}

.center {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
}
