<div
  *ngIf="stages().length > 0 && day"
  class="scroll-container tab__content table-outline"
>
  <div nxGrid class="timetable-grid">
    <div nxRow>
      <div nxCol="2"></div>
      <ng-container *ngFor="let stage of stages()">
        <div nxCol="2" class="stage-heading center">{{ stage.name }}</div>
      </ng-container>
    </div>
    <ng-container *ngFor="let time of times">
      <div nxLayout="grid nogutters">
        <div nxRow>
          <div nxCol="2" class="time">{{ time }}</div>
          <ng-container *ngFor="let stage of stages()">
            <div
              *ngVar="getTalkByStageAndTime(stage, day, time) as talk"
              [nxCol]="talk ? stage.size.toString() : '2'"
              class="card-container"
            >
              <ng-container *ngIf="talk">
                <nx-card
                  [highlight]="stage.name.includes('Main')"
                  [class]="stage.color"
                  class="talk-card button"
                  (click)="dialogService.openTalkDialog(talk)"
                >
                  <!-- <div nxHighlightHeader><b>MAIN STAGE</b></div> -->
                  <div class="card-content">
                    <h3>
                      {{ talk.title }}
                    </h3>
                    <p nxCopytext="normal">
                      {{ talk.description }}
                    </p>
                  </div>
                </nx-card>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
