<div nxRow *ngIf="!dataService.mobileView">
  <div nxCol="1"></div>
  <ng-container *ngFor="let stage of filteredStages">
    <div nxCol="2.5" class="stage-heading center">{{ stage.name }}</div>
  </ng-container>
</div>
<ng-container *ngFor="let time of times">
  <div
    *ngIf="day && getTalksByTime(day, time).length > 0"
    nxLayout="grid nogutters"
  >
    <div nxRow>
      <!-- Defining different nxCol sizes for different display sizes -->
      <div nxCol="12,12,12,1" class="time">{{ time }}</div>
      <ng-container *ngFor="let stage of filteredStages">
        <div
          *ngVar="getTalkByStageAndTime(stage, day, time) as talk"
          [nxCol]="dataService.mobileView ? '12' : '2.5'"
          class="card-container"
        >
          <app-talk-card [talk]="talk" [stage]="stage" />
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
