<div nxRow *ngIf="!dataService.mobileView">
  <div nxCol="1"></div>

  <div nxCol="10">
    <div nxLayout="grid nogutters">
      <div nxRow>
        <ng-container *ngFor="let stage of filteredStages">
          <div nxCol="2.5" class="stage-heading center">{{ stage.name }}</div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-container *ngFor="let time of times">
  <div nxRow *ngIf="day && getTalksByTime(day, time).length > 0">
    <!-- Defining different nxCol sizes for different display sizes -->
    <div nxCol="12,12,12,1" class="time">{{ time }}</div>

    <!-- Using another grid for centering talks -->
    <div nxCol="12,12,12,10">
      <div nxLayout="grid nogutters">
        <div nxRow>
          <ng-container *ngFor="let stage of filteredStages">
            <div
              *ngVar="getTalkByStageAndTime(stage, day, time) as talk"
              [nxCol]="dataService.mobileView ? '12' : '2.5'"
              class="card-container"
            >
              <ng-container *ngIf="talk">
                <nx-card
                  [class]="stage.color"
                  class="talk-card button"
                  (click)="dialogService.openTalkDialog(talk)"
                >
                  <!-- <div nxHighlightHeader><b>MAIN STAGE</b></div> -->
                  <div class="card-content">
                    <nx-badge
                      *ngIf="dataService.mobileView"
                      class="purple_bg"
                      >{{ stage.name }}</nx-badge
                    >
                    <h3>
                      {{ talk.title }}
                    </h3>
                    <p nxCopytext="normal">
                      {{ talk.description }}
                    </p>
                    <nx-link nxStyle="icon-left">
                      <!-- Using event#stopPropagation to stop it from executing card click -->
                      <a
                        [href]="talk.webExLink"
                        (click)="$event.stopPropagation()"
                      >
                        <nx-icon name="camera" font="fa" size="s"></nx-icon>
                        Join here!
                      </a>
                    </nx-link>
                  </div>
                </nx-card>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>
