nx-header-brand img {
  margin-right: 8px;
}

figure {
  display: flex;
  align-items: center;
}

.tab__content {
  padding-top: 16px;
}

.center {
  display: flex;
  justify-content: center;
}

.scroll-container {
  overflow-x: auto;
  display: block;
}

.timetable-grid {
  margin: 40px;
}

.stage-heading {
  font-weight: bold;
  font-size: large;
}
