<div class="starter-app">
  <nx-tab-group *ngIf="days" mobileAccordion="true">
    <nx-tab
      *ngFor="let day of days"
      [label]="'Day ' + day.id.toString()"
      disabled="false"
    >
      <div *ngIf="stages && days" class="scroll-container tab__content">
        <table nxGrid class="timetable-grid">
          <tr nxRow>
            <th nxCell></th>
            <ng-container *ngFor="let stage of stages">
              <th nxCell>{{ stage.name }}</th>
            </ng-container>
          </tr>
          <ng-container *ngFor="let time of times">
            <tr nxRow>
              <th nxCell>{{ time }}</th>
              <ng-container *ngFor="let stage of stages">
                <td nxCell>
                  <ng-container *ngIf="getTalkByStageAndTime(stage, day, time)">
                    <div class="talk-details">
                      <h4>
                        {{ getTalkByStageAndTime(stage, day, time)?.title }}
                      </h4>
                      <p>
                        {{
                          getTalkByStageAndTime(stage, day, time)?.description
                        }}
                      </p>
                    </div>
                  </ng-container>
                </td>
              </ng-container>
            </tr>
          </ng-container>
        </table>
      </div>
    </nx-tab>
  </nx-tab-group>
</div>

<!-- Copyright Allianz 2023 -->
