<div>
  <div nxRow *ngIf="!dataService.mobileView">
    <div nxCol="1"></div>
    <div nxCol="11" class="stage-heading center">{{ stage.name }}</div>
  </div>
  <ng-container *ngFor="let time of times">
    <div *ngIf="getTalksByTime(time).length > 0" nxLayout="grid nogutters">
      <div nxRow>
        <div nxCol="12,12,12,1" class="time">{{ time }}</div>
        <ng-container>
          <div
            *ngVar="getTalksByTime(time)[0] as talk"
            [nxCol]="dataService.mobileView ? '12' : '2.5'"
            class="card-container"
          >
            <app-talk-card [talk]="talk" [stage]="stage" />
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
