<ng-template #talkdialog let-data>
  <div>
    <div class="presenter-container">
      <nx-link *ngFor="let presenter of data.presenters">
        <p (click)="dialogService.openPresenterDialog(presenter)">
          {{ presenter.name }}
        </p>
      </nx-link>
    </div>
    <h3 nxHeadline="subsection-medium">
      {{ data.title }}
    </h3>
    <p nxCopytext>{{ data.description }}</p>
    <nx-badge *ngFor="let tag of data.tags">{{ tag }}</nx-badge>
  </div>
</ng-template>

<ng-template #presenterdialog let-data>
  <div>
    <app-presenter-avatar [presenter]="data"></app-presenter-avatar>
  </div>
</ng-template>
